.header {
    height: 115vh;
    overflow: hidden;
    position: relative;
}

.header__Container{
    text-align: center;
    height: 100%;
    position: relative;
}



/* ================ CTA =======================*/

.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em; 
}

.a__static1{
    position: relative;
    color: var(--color-white);
    border: 2px solid rgba(98, 3, 221, 0.425);
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding: 5px 5px;
    transition: 0.5s;
}

.a__static1:hover{
    letter-spacing: 0.20em;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    box-shadow: 0 0 35px var(--color-secondary);
}

.a__static1 li::before{
    content: '';
    position: absolute;
    top: -3.9px;
    left: 70%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color-secondary);
    background: var(--color-bg);
    transform: translateX(-50%);
    transition: 0.5s;
}

.a__static1:hover li::before{
    width: 20px;
    left: 20%;
}

.a__static1 li::after{
    content: '';
    position: absolute;
    bottom: -3.9px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color-secondary);
    background: var(--color-bg);
    transform: translateX(-50%);
    transition: 0.5s;
}

.a__static1:hover li::after{
    width: 20px;
    left: 70%;
}

/*=====================================*/

.a__static2{
    position: relative;
    color: var(--color-white);
    border: 2px solid rgba(98, 3, 221, 0.425);
    border-radius: 1em;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding: 5px 5px;
    transition: 0.5s;
}

.a__static2:hover{
    letter-spacing: 0.20em;
    border-color: var(--color-secondary);
    color: var(--color-secondary);
    box-shadow: 0 0 35px var(--color-secondary);
}

.a__static2 li::before{
    content: '';
    position: absolute;
    top: -3.9px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color-secondary);
    background: var(--color-bg);
    transform: translateX(50%);
    transition: 0.5s;
}

.a__static2:hover li::before{
    width: 20px;
    left: 70%;
}

.a__static2 li::after{
    content: '';
    position: absolute;
    bottom: -3.9px;
    left: 70%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--color-secondary);
    background: var(--color-bg);
    transform: translateX(50%);
    transition: 0.5s;
}

.a__static2:hover li::after{
    width: 20px;
    left: 20%;
}

/* ================ HEADER SOCIALS =======================*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    font-size: 1.5em;
}


/* ================ CUBO =======================*/

.cube {
    width: 20rem;
    height: 20rem;
    position: relative;
    transform-style: preserve-3d;
    left: calc(50% - 10rem);
    margin-top: 10rem;
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%{transform: rotateX(-30deg) rotateY(0deg);}
    100%{transform: rotateX(-30deg) rotateY(360deg);}
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.spanCube{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#020216, rgba(10, 92, 243, 0.5));
    transform: rotateY(calc(90deg * var(--i))) translateZ(10rem); /* 20/2 = 10 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconReact{
    font-size: 10em;
    color:rgba(38, 85, 172, 0.445);
}

.cubeTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    background: #010114;
    transform: rotateX(90deg) translateZ(10rem);
}
.cubeTop::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    background: rgba(37, 126, 199, 0.685);
    transform: translateZ(-29rem);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(10, 33, 243, 0.2),
    0 0 120px rgba(10, 14, 243, 0.4),
    0 0 120px rgba(10, 92, 243, 0.6),
    0 0 120px rgba(15, 130, 238, 0.8),
    0 0 120px rgb(11, 113, 197);
}

/* ================================ MEDIA QUERIES (MEDIUM DEVICES) =======================*/

@media screen and (max-width: 1024px) {
    .header {
        height: 85vh;
    }

    .cube{
        margin-top: 30%;
    }

    .scroll__down{
        display: none;
    }

    .cube__container{
        height: auto;
        display: flex;
        justify-content: center;
        margin-right: 25%;
    }
    .cube__container div {
        width: 15rem;
        height: 15rem;
    }
    .cubeTop::before{
        width: 15rem;
        height: 15rem;
    }
    .spanCube{
        transform: rotateY(calc(90deg * var(--i))) translateZ(7.5rem); 
    }

    .cubeTop{
        transform: rotateX(90deg) translateZ(7.5rem);
    }

    .cubeTop::before{
        transform: translateZ(-25rem);
    }

}

/* ================================ MEDIA QUERIES (SMALL DEVICES) =======================*/

@media screen and (max-width: 600px) {
    .header {
        height: 120vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .cube{
        margin-top: 35%;
    }

    .cube__container{
        height: auto;
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }
    .cube__container div {
        width: 10rem;
        height: 10rem;
    }
    .cubeTop::before{
        width: 10rem;
        height: 10rem;
    }
    .spanCube{
        transform: rotateY(calc(90deg * var(--i))) translateZ(5rem); 
    }

    .cubeTop{
        transform: rotateX(90deg) translateZ(5rem);
    }

    .cubeTop::before{
        transform: translateZ(-15rem);
    }

}